.activity {
    a:link {
        color: inherit;
    }

    /* visited link */
    a:visited {
        color: inherit;
    }

    /* mouse over link */
    a:hover {
        color: inherit;
    }

    /* selected link */
    a:active {
        color: inherit;
    }
    margin-bottom: 15px;
    color: #172b4d;
    line-height: 20px;
    font-size: rem(14px);
    .activity-user {
        font-weight: 700;
        padding-left: 5px;
    }
    .activity-object {
        color: #172b4d;
        background-color: transparent;
        text-decoration: underline;
        font-weight: 400;
    }
    .activity-time {
        color: #5e6c84;
        background-color: transparent;
        text-decoration: none;
        font-size: rem(12px);
        font-weight: 400;
        padding-left: 9px;
    }
}
span {
    color: #172b4d;
    font-weight: 400;
}
