.card-preview {
    background-color: #fff;
    // border-radius: 3px;
    @include transRoundBorder;
    margin: 0 0 8px 0;
    padding: 5px 5px 0 5px;
    box-shadow: 0 1px 0 rgba(9, 30, 66, .25);
    cursor: pointer !important;

    p {
        padding-bottom: 4px;
    }
}