.card-modal {
    overflow-y: auto;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba($color: #000000, $alpha: 0.7);

    &::-webkit-scrollbar {
        background-color: #d6d7e0;
        width: 12px;
        border-radius: 25px;

        &-thumb {
            background-color: #a4a6a8;
            border-radius: 25px;
        }
    }
}

.card-container {
    color: #42526e;
    padding: 0 0 16px 16px;
    border-radius: 2px;
    width: 768px;
    border: 1px solid #eeeeee;
    background-color: $cardGrey;
    width: 700px;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    color: $trelloFontColor;
    z-index: 2;

    .card-header {

        .close-btn {
            position: absolute;
            right: 10px;
            top: 5px;
            background-color: inherit;
            color: #42526e;
            height: 32px;
            width: 32px;
            border: none;
            border-radius: 50%;

            .close-icon {
                position: relative;
                top: 2px;
            }

            &:hover {
                color: #172b4d;
                background-color: rgba(9, 30, 66, .08);
            }
        }

        .card-header-container {
            margin-top: 20px;

            .icon {
                color: #42526e;
                font-size: 22px;
                position: relative;
                bottom: 13px;
            }

            .card-title {
                color: #172b4d;
                margin: 0 36px 24px 8px;
                font-weight: normal;
                cursor: pointer;
            }

            .card-title-input {
                resize: none;
                width: 80%;
                color: #172b4d;
                border: none;
                background-color: inherit;
                font-family: roboto-normal;
                margin: 0 0 4px 4px;
                padding: 4px;
                font-size: 20px;
                height: max-content;
                max-height: 300px;

                &:focus {
                    @include trelloInput;
                    width: 80%;
                    background-color: #fff;
                    outline: none;
                    margin: 0 0 4px 4px;
                    padding: 4px;
                }
            }
        }

        .card-link {
            margin: 0 0 16px 32px;
            z-index: 3;
            font-size: 14px;
        }
    }



    .card-content {
        margin-bottom: 150px;

        .card-details {
            margin-right: 16px;


            h3 {
                color: #5e6c84;
                letter-spacing: .04em;
                font-weight: normal;
                text-transform: uppercase;
                font-size: 12px;
                font-weight: 500;
                margin-bottom: 8px;
            }

            &-members {
                margin: 0 0 28px 28px;

                .member-avatar {
                    margin-right: 6px;
                }
            }

            &-labels {
                margin: 0 0 28px 28px;

                .label {
                    @include transRoundBorder;
                    font-size: 14px;
                    display: inline-block;
                    color: #fff;
                    min-width: 40px;
                    min-height: 32px;
                    padding: 6px 12px;
                    margin: 0 4px 4px 0;

                    &:hover {
                        filter: brightness(85%);
                        cursor: pointer;
                    }
                }
            }

            &-date {
                margin: 0 0 28px 28px;
                font-family: roboto-normal;
                font-size: 14px;
                color: #172b4d;

                .date {
                    align-self: flex-start;
                    background-color: rgba(9, 30, 66, .04);
                    @include transRoundBorder;
                    font-family: segoe-ui;
                    font-size: 14px;
                    cursor: pointer;
                    height: 32px;
                    max-width: max-content;
                    padding: 6px 12px;
                    transition-property: background-color, border-color, box-shadow;
                    transition-duration: 85ms;
                    transition-timing-function: ease;

                    &:hover {
                        background-color: rgba(9, 30, 66, .08);
                    }
                }
            }
        }

        .card-sidebar {
            display: flex;
            align-items: flex-end;
            flex-direction: column;
            margin-right: 16px;

            .card-sidebar-btn {
                background-color: rgba(9, 30, 66, 0.04);
                @include transRoundBorder;
                height: 32px;
                font-size: 14px;
                color: #42526e;
                margin-bottom: 8px;
                min-width: 168px;
                overflow: hidden;
                padding: 6px 12px;
                user-select: none;
                transition-property: background-color, border-color, box-shadow;
                transition-duration: 85ms;
                transition-timing-function: ease;
                display: flex;
                align-items: center;

                &:hover {
                    background-color: rgba(9, 30, 66, .08);
                }

                span {
                    margin-right: 10px;

                    .icon {
                        font-size: 18px;
                        position: relative;
                        top: 2px;
                    }
                }
            }
        }
    }


}