.card-modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: black;
    opacity: 70%;
}

.card-container {
    color: #42526e;

    .card-header {
        .card-header-container {
            margin-top: 20px;
            display: flex;
            align-items: center;

            .icon {
                color: #42526e;
                font-size: 22px;
                align-self: flex-start;
            }
        }

        .card-title {
            font-family: roboto-normal;
            font-weight: lighter;
            color: #172b4d;
            border-radius: 3px;
            font-size: 20px;
            margin: 0px 8px 4px;
            resize: none;
        }

        .card-title-input {
            border: none;
            background-color: $cardGrey;

            width: 700px;
            margin-left: 15px;
            font-size: 24px;
            max-height: content;
            overflow: hidden;

            min-height: 50px;
            max-height: 300px;
            top: 0;
            left: 0;
            white-space: normal;
            word-wrap: break-word;
            resize: none;
        }

        .card-title-input:focus {
            background-color: white;
        }

        .card-link {
            margin: 8px 0 16px 32px;
            z-index: 3;
        }

    }

    .card-sidebar {
        display: flex;
        align-items: center;
        flex-direction: column;

        .card-sidebar-btn {
            background-color: rgba(9, 30, 66, 0.04);
            box-shadow: none;
            @include transRoundBorder;
            box-sizing: border-box;
            cursor: pointer;
            display: block;
            height: 32px;
            margin-top: 8px;
            min-width: 150px;
            overflow: hidden;
            padding: 6px 12px;
            position: relative;
            text-decoration: none;
            text-overflow: ellipsis;
            -webkit-user-select: none;
            user-select: none;
            white-space: nowrap;
            transition-property: background-color, border-color, box-shadow;
            transition-duration: 85ms;
            transition-timing-function: ease;
            display: flexl;
        }

        .card-sidebar-btn {
            display: flex;
        }

        .card-sidebar-btn span {
            margin-right: 10px;
        }
    }
}