.left-nav {
    min-height: 40px;
    background-color: #026aa7;
    .test {
        width: 32px;
        height: 32px;
    }
    .home-icon {
        background-color: $boardBtn;
        color: white;
        width: 24px;
        height: 24px;
        border-radius: 3px;
        margin: 0 8px;
        cursor: pointer;

        &:hover {
            background-color: $boardBtnHov;
        }
    }
}
