.main-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #026aa7;
    min-height: 6vh;
    .logo {
        text-align: center;
        margin-top: 8px;
        .btn-icon {
            color: white;
            width: 20px;
            height: 20px;
        }
        .logo-text {
            margin-left: 2px;
            color: white;
            font-size: rem(20px);
            font-family: berkshireswash-regular;
        }
    }
    .btn-icon {
        color: white;
        width: 20px;
        height: 20px;
    }
    .search-input {
        background-color: $boardBtn;
        border-radius: 3px;
        height: 32px;
        margin-left: 5px;
        width: 180px;
        padding-right: 54px;
        border: none;
        padding-left: 5px;

        &:hover {
            background-color: $boardBtnHov;
        }
        &:focus {
            background-color: white;
            width: 300px;
        }
    }

    .search-icon {
        color: white;
        width: 20px;
        height: 20px;
        margin-left: -25px;
    }

    .btn-main-nav {
        height: 32px;
        padding: 4px;
        background-color: $boardBtn;
        cursor: pointer;
        border-radius: 3px;
        text-align: center;
        margin-left: 5px;
        &:hover {
            background-color: $boardBtnHov;
        }

        .btn-text {
            font-size: rem(16px);
            color: white;
            font-weight: 700;
            margin-left: 4px;
            margin-right: 4px;
        }
    }
    .right-nav {
        padding-right: 4px;
        .loged-in {
            margin-left: 4px;
        }
    }

    .create-board-menu {
        z-index: 1;
        opacity: 80%;
        top: 50px;
        right: 55px;
        position: absolute;
        width: 280px;
        background-color: #fff;
        border-radius: 3px;
        padding: 12px;
        box-shadow: 0px 0px 1.5px 0px rgba(0, 0, 0, 0.5);

        .board-menu-header {
            position: relative;

            height: 40px;
            color: #5e6c84;
            border-bottom: 1px solid rgba(9, 30, 66, 0.13);
            margin-bottom: 8px;

            h5 {
                text-align: center;
            }

            button {
                position: absolute;
                right: 0;
                border: none;
                background-color: inherit;
            }
        }

        .menu-btns {
            button {
                background-color: inherit;
                border: none;
                padding: 6px 12px;
                text-align: start;

                &:hover {
                    background-color: rgba(9, 30, 66, 0.04);
                }
            }
        }
    }

    .cards-list {
        min-height: 10px;
        max-height: 520px;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 0 4px;
        margin: 0 4px;

        &::-webkit-scrollbar {
            background-color: #d6d7e0;
            width: 8px;
            border-radius: 25px;

            &-thumb {
                background-color: #bfc4ce;
                border-radius: 25px;
            }
        }
    }

    .add-card-btn {
        font-size: rem(14px);
        line-height: rem(20px);
        margin: 8px 8px 0;
        @include transRoundBorder;
        color: #5e6c84;
        background-color: inherit;
        font-weight: 200;

        &:hover {
            background-color: rgba(9, 30, 66, 0.08);
            color: rgb(23, 43, 77);
        }

        .add-icon {
            padding: 4px 0 5px 0;
        }
    }
}
