.member-initial {
    font-size: rem(12px);
    font-weight: 700;
    color: #172b4d;
    height: 32px;
    width: 32px;
}

.member-avatar {
    border-radius: 50%;
    display: inline-block;
    width: 28px;
    height: 28px;
    text-align: center;
    background-color: #dfe1e6;
    text-size-adjust: 100%;
    cursor: pointer;
    &:hover {
        background-color: #c1c7d0;
    }
}
