.phase-list {
    position: relative;

    .add-list-btn {
        align-self: flex-start;
        background-color: $boardBtn;
        color: #fff;
        transition: background-color 0.2s;
        border: none;
        border-radius: 5px;
        padding: 5px 10px;
        margin: 0 4px;
        line-height: 20px;
        min-width: 272px;
        min-height: 40px;

        &:hover {
            background-color: $boardBtnHov;
        }
    }

    .add-list-form {
        align-self: flex-start;
        background-color: $trelloGrey;
        padding: 4px;
        min-width: 272px;
        max-width: 272px;
        border-radius: 3px;

        input {
            @include trelloInput;
        }

        .submit-btn {
            padding: 6px 12px;
            background-color: #5aac44;
            color: #fff;
            font-size: 1rem;
            @include transRoundBorder;
            margin-right: 4px;
            transition: background-color 0.2s;

            &:hover {
                background-color: #61bd4f;
            }
        }

        .cancel-btn {
            border: none;
            background-color: inherit;
            font-weight: bold;
        }
    }

    .phase-menu {
        z-index: 1;
        position: absolute;
        width: 280px;
        background-color: #fff;
        border-radius: 3px;
        padding: 12px;

        .menu-header {
            position: relative;
            height: 40px;
            color: #5e6c84;
            border-bottom: 1px solid rgba(9, 30, 66, .13);
            margin-bottom: 8px;

            h5 {
                text-align: center;
            }

            button {
                position: absolute;
                right: 0;
                border: none;
                background-color: inherit;
            }
        }

        .menu-btns {
            button {
                background-color: inherit;
                border: none;
                padding: 6px 12px;
                text-align: start;

                &:hover {
                    background-color: rgba(9, 30, 66, .04);
                }
            }

            .sort-options {
                button {
                    background-color: #e7e7e7;
                }

                button:hover {
                    background-color: #d1d1d1;
                }
            }

        }
    }
}