.card-header-container {
    // margin: 8px 16px 8px 0;
    margin-top: 20px;

    display: flex;
    align-items: center;
}

.card-title-input {
    border: none;
    background-color: $cardGrey;

    width: 700px;
    margin-left: 15px;
    font-size: 24px;
    max-height: content;
    overflow: hidden;

    min-height: 50px;
    max-height: 300px;
    top: 0;
    left: 0;
    white-space: normal;
    word-wrap: break-word;
    resize: none;
}
.card-title-input:focus {
    background-color: white;
}

.card-title {
    background-color: $cardGrey;
    width: 700px;
    min-height: 50px;
    margin-left: 15px;
    white-space: normal;
    word-wrap: break-word;
}

.card-link {
    margin-top: 8px;
    margin-left: 38px;
    z-index: 3;
}
