.card-desc-container {
    margin: 0 16px 25px 32px;
    padding: 0 0 0 8px;
    color: rgb(155, 164, 179);
    font-weight: 600;
    min-height: 16px;
    display: flex;
    align-items: baseline;

    .card-desc-input {
        @include trelloInput;
        border-radius: 8px;
        font-size: 14px;
        font-weight: 400;
        background-color: rgb(234, 236, 240);
        box-shadow: none;
        border: none;
        resize: none;
        overflow: hidden;

        textarea {
            padding-left: 5px;
        }
    }

    .card-desc-input::-webkit-input-placeholder {
        min-height: 20px;
        padding-left: 5px;
    }

    .card-desc-input:focus::-webkit-input-placeholder {
        background-color: white;
        padding-left: 5px;
    }

    .card-desc-input:focus {
        background-color: white;
        min-height: 20px;
    }
}

.desc-header {
    margin-left: 15px;
}

.desc-header-container {
    display: flex;
    align-items: center;
}

.card-desc-icon {
    display: flex;
    padding-bottom: 0;
    margin-left: 8px;
}
