.card-details-container {
    border: 1px solid #eeeeee;
    background-color: $trelloGrey;
    width: 800px;
    margin: 48px auto 80px auto;
    grid-gap: 5px;
    color: $trelloFontColor;
    display: grid;

    grid-template-areas:
        "header header header header header header"
        "main main main main main side-bar";
}

.card-details-header {
    grid-area: header;
}

.card-details-header-container {
    // margin: 8px 16px 8px 0;

    margin-top: 20px;
    width: 700px;
    height: 50px;
    display: flex;

    align-items: center;
}

.main-col {
    grid-area: main;
    margin-bottom: 150px;
}

.card-details-title-input {
    border: none;
    background-color: $trelloGrey;
    white-space: normal;
    margin-left: 15px;
    font-size: 24px;
    overflow: hidden;
    top: 0;
    left: 0;
    height: 40px;
    width: 700px;
    resize: none;
}
.card-details-title-input:focus {
    background-color: white;
}

.card-details-title {
    background-color: $trelloGrey;
    width: 700px;
    height: 40px;
    margin-left: 15px;
    top: 0;
    left: 0;
    white-space: normal;
    word-wrap: break-word;
}

.details-card-link {
    margin-top: 8px;
    margin-left: 38px;
    z-index: 3;
}
