.dashboard {
    // background-image: linear-gradient(to right top, #273d5d, #006c95, #009da2, #00ca78, #a8eb12);
    background-image: linear-gradient(to right top, #b16a61, #273d5d);
    padding-top: 6vh; //this is super important!
    transition: 0.3s;

    h2 {
        padding-top: 10px;
    }

    .btn-back {
        position: fixed;
        background-color: #0d5d83;
        top: 75px;
        right: 30px;
        padding: 10px;
        color: white;
        cursor: pointer;
        border-radius: 3px;
    }
    .chart-cont {
        display: grid;
        grid-template-areas:
            "top-left top-right"
            "bottom-left bottom-right";
        grid-auto-rows: 1fr;
        row-gap: 15px;
        column-gap: 15px;

        .chart {
            background-color: rgb(243, 243, 243);
            border-radius: 5px;
            min-width: 780px;
            min-height: 390px;

            &.sprint-progress {
                grid-area: top-right;
            }
            &.tasks-per-devloper {
                grid-area: top-left;
            }
            &.tasks-per-phase {
                grid-area: bottom-left;
            }
            &.tasks-by-lables {
                grid-area: bottom-right;
            }
        }
    }
}
