.dashboard {
    // background-image: linear-gradient(to right top, #273d5d, #006c95, #009da2, #00ca78, #a8eb12);
    background-image: linear-gradient(to right top, #b16a61, #273d5d);
    padding-top: 6vh; //this is super important!

    transition: 0.3s;
    height: 100vh;
    overflow-x: hidden;
    h2 {
        padding-top: 10px;
    }

    .btn-back {
        position: fixed;
        background-color: #0d5d83;
        top: 75px;
        right: 30px;
        padding: 10px;
        color: white;
        cursor: pointer;
        border-radius: 3px;
    }
    .chart-cont {
        margin-top: 20px;
        display: grid;
        min-width: 1000px;
        max-width: 1200px;

        max-height: 1200px;
        grid-template-areas:
            "top-left top-right"
            "bottom-left bottom-right";
        grid-auto-rows: 1fr;
        row-gap: 30px;
        column-gap: 30px;

        .chart {
            background-color: rgb(243, 243, 243);
            border-radius: 5px;
            // min-width: 680px;
            // min-height: 340px;

            // max-width: 780px;
            // max-height: 390px;

            &.sprint-progress {
                grid-area: top-right;
            }
            &.tasks-per-devloper {
                grid-area: top-left;
            }
            &.tasks-per-phase {
                grid-area: bottom-left;
            }
            &.tasks-by-lables {
                grid-area: bottom-right;
            }

            .chart-stats {
                max-width: 600px;
                max-height: 300px;
            }
        }
    }
}
