.dashboard {
    // background-image: linear-gradient(to right top, #273d5d, #006c95, #009da2, #00ca78, #a8eb12);
    background-image: linear-gradient(to right top, #b16a6180, #273d5da6);
    padding-top: 6vh; //this is super important!

    transition: 0.3s;
    height: 100vh;
    overflow-x: hidden;

    h2 {
        padding-top: rem(10px);
        color: #314361;
    }

    .btn-back {
        position: fixed;
        background-color: #0d5d83;
        top: rem(75px);
        left: rem(12px);
        padding: rem(6px) rem(12px) rem(6px) rem(7px);
        color: white;
        cursor: pointer;
        border-radius: rem(3px);
        opacity: 0.7;
        transition: opacity 0.2s;

        &:hover {
            opacity: 1;
        }

        @include for-mobile-layout {
            opacity: 1;
            font-size: rem(12px);
            top: rem(50px);
        }

        .icon {
            font-size: rem(16px);

            @include for-mobile-layout {
                font-size: rem(12px);
                position: relative;
                bottom: 1px;
            }
        }
    }

    .chart-cont {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(440px, 1fr));
        grid-auto-rows: 1fr;
        max-width: rem(1000px);
        gap: rem(36px);
        margin: 0 auto;
        padding: rem(40px);

        @include for-mobile-layout {
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        }

        .chart {
            background-color: rgb(243, 243, 243);
            border-radius: rem(5px);

            .chart-stats {
                max-width: rem(600px);
                max-height: rem(300px);
            }
        }
    }
}