.home-container {
    flex: 1;
    @include background("../img/dont-waste-paper.jpg");
    background-size: cover;

    .text-area {
        padding: 100px;

        h1 {
            font-size: rem(50px);
            line-height: 60px;
            font-weight: 700;
            margin-bottom: 10px;
        }

        h3 {
            font-size: rem(20px);
            line-height: 32px;
            font-weight: 300;
            font-family: roboto-light;
            width: 400px;
            margin-bottom: 25px;
        }

        .btn-home {
            background-color: #ff0476;
            text-transform: uppercase;
            font-family: segoe-ui-bold, roboto-normal, Arial, Helvetica, sans-serif;
            font-size: rem(20px);
            padding: 20px 30px;
            font-weight: normal;
            display: inline-block;
            border-radius: 100px;
            color: white;
            outline: none;
            transition-duration: 0.3s;
            transition-property: box-shadow, color;
            transition-timing-function: ease;

            &:hover {
                background-color: #000;
                color: #ff0476;
            }
        }
    }
}