.home-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    height: 90vh;
    width: 100vw;

    .lft-sd-lb {
        background-color: #e5f4ff;
        grid-row: 1/10;
        grid-column: 1/3;
    }
    .home-text {
        padding: 50px;
        grid-row: 3/9;
        grid-column: 3/7;
        h1 {
            font-size: rem(50px);
            line-height: 60px;
            font-weight: 700;
            margin-bottom: 10px;
        }
        h3 {
            font-size: rem(20px);
            line-height: 32px;
            font-weight: 300;
            font-family: roboto-light;
            width: 400px;
            margin-bottom: 25px;
        }
        .btn-home {
            background-color: #ff0476;
            width: 147px;
            height: 50px;
            font-size: rem(16px);
            padding: 16px 32px;
            font-weight: 400;
            display: inline-block;
            border-radius: 100px;
            color: white;
            outline: none;
            transition-delay: 0s;
            transition-duration: 0.2s;
            transition-property: background-color;
            transition-timing-function: ease;
        }
    }
    footer {
        grid-row: 10/12;
        grid-column: 1/12;
    }
}
